
# Top-most EditorConfig file
root = true

[*.{cs,vb}]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# Tamaño de archivo y longitud de línea
max_line_length = 120

# Organización de usings
dotnet_sort_system_directives_first = true
dotnet_remove_unnecessary_imports = true
